# Executable files
main

# Dependencies for Object files
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# swp
*.swp

# ini test
*.ini

# log file
*.log
